#annotationToolbar {
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-text-size-adjust: none;
    padding: 10px;
    background-color: #c1dde3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    z-index: 10000;
}

#annotationToolbar button {
    cursor: pointer;
    font-size: 15px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid gray;
}

#annotationToolbar button:hover,
#annotationToolbar button.active {
    border-color: #007bff;
    background-color: #007bff;
    color: white;
}

.highlight_div,
.range_div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #09fa65;
    border-radius: 3px;
    gap: 1px;
}
#brushSize,
#opacity,
.highlight_div #highlighterSize {
    display: inline-block;
    font-size: 16px;
    width: 35px;
    height: 30px;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2px;
}

.line-type {
    width: 60px;
    min-height: 37px;
    outline: none;
    border-radius: 5px;
}

#opacity {
    width: 50px;
}
.opacity_control {
    border: 2px solid #64c1d6;
    border-radius: 5px;
}

#activeColor {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 255);
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

/* Color picker button styling */
.text-color-picker,
.color-picker {
    position: relative;
}

.text-color-picker,
.color-picker-button {
    width: 60px;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff; /* Default button color */
}

.text-color-picker {
    background-color: #0000ff;
}

.color-picker-button {
    transition: transform 0.2s ease;
}
.color-picker-button:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

/* Color swatches container */
.color-swatches {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    grid-template-columns: repeat(8, 40px); /* 4 columns of 40px each */
    gap: 10px; /* Space between swatches */
    z-index: 25000; /* Ensure it appears above other content */
}

@media screen and (max-width: 620px) {
    .color-swatches {
        grid-template-columns: repeat(5, 40px);
    }
}

.color-swatches.visible {
    display: grid; /* Show when visible */
}

/* Color swatch styling */
.color-swatch {
    width: 40px;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, border-color 0.2s ease;
}

.color-swatch:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    border-color: #999;
}

/* for text input */
#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid orange;
    background: gold;
    font-size: 25px;
    margin: 0;
    padding: 0;
    resize: both;
    overflow: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#modal #textInput {
    width: 650px;
    height: 300px;
    font-size: 20px;
    font-family: "Open sans";
    text-align: left;
    padding: 3px;
    outline: none;
    border: 3px solid #777;
    overscroll-behavior: contain;
}

#modal #submit_block {
    margin-top: -5px;
    display: flex;
    justify-content: flex-end;
}

#modal-header {
    margin: 0;
    display: flex;
    justify-content: center;
}
#modal-header #bullet {
    margin-left: 3px;
}

#font-select option {
    text-align: left;
}
#closeModal {
    display: inline-block;
    margin-left: auto;
}

#modal-header button,
#clearText,
#submitText {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 14px;
}

#modal-header #addBullet {
    border-radius: 0;
    padding: 5px 8px;
}

#expand_canvas {
    position: fixed;
    bottom: 0;
    z-index: 15000;
    padding: 0.3rem 0.7rem 0.3rem 0.3rem;
    font-family: "Open sans";
    font-size: 0.8rem;
    color: #fff;
    background: linear-gradient(to top, #00154c, #12376e, #23487f);
    border: none;
    outline: none;
    box-shadow: 0.2rem 0.2rem 1rem #777;
    border-radius: 0 1rem 1rem 0;
    /* clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%); */
    cursor: pointer;
    float: left;
}

.whiteBg {
    width: 100%;
    height: 600px;
    background-color: #fff;
}
/* for bottom navigation bar */
.scroll-buttons {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 15000;
}

.scroll-buttons button {
    font-size: 24px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
