@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#clockWindow {
    position: fixed;
    min-width: 290px;
    top: 50px;
    left: 50px;
    background: #f0e3d3;
    border: 1px solid #ccc;
    padding: 0;
    z-index: 25000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    user-select: none;
    font-family: "Shippori Mincho", serif;
    font-weight: 600;
}
#clockDisplay {
    font-size: 2.5em;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    color: green;
}

#clockDate {
    margin-top: 5px;
    font-size: 1.5em;
    text-align: center;
}
#clockWindow .title {
    font-weight: bold;
}

#clockWindow .content {
    padding: 5px 15px 15px;
}

#clockWindow .title-bar {
    background: #e6c193;
    padding: 8px 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title-bar .ctrl {
    cursor: pointer;
}

.minimize-btn {
    margin-left: auto;
}

.floating-window.minimized .content {
    display: none;
}
