@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,
td {
    padding: 8px;
}

th {
    color: #4304f3;
    font-weight: bold;
}

#openYoutubePlayer {
    position: fixed;
    top: 0;
    left: 0;
    background: #e9e0f5;
    border: 1px solid #ccc;
    padding: 0;
    z-index: 25000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    user-select: none;
    font-family: "Shippori Mincho", serif;
    font-weight: 600;
    border-radius: 10px;
    resize: both;
}

#openYoutubePlayer .playlist-title-bar,
#openYoutubePlayer .title-bar {
    min-width: 500px;
    background: #e6c193;
    padding: 8px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#youtubePlayer {
    border: 2px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title-bar .ctrl {
    cursor: pointer;
}

.bottom-nav button {
    cursor: pointer;
}

#openYoutubePlayer .content {
    width: 100%;
    min-width: 650px;
    height: 100%;
    background: white;
    border: 2px solid #ccc;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    resize: both;
    overflow: auto;
    user-select: none;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#controls {
    padding: 7px;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #cecbc3;
}

input[type="text"],
input[type="number"] {
    flex-grow: 1;
    padding: 6px 10px;
    font-size: 1rem;
}

#videoInput {
    border: 2px solid #aaa;
    background-color: #fff;
    border-radius: 5px;
    width: 200px;
}

#load-song,
#load-script {
    padding: 7px 15px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background: #e73a31;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#load-script {
    background: #0844eb;
}

#search-type {
    padding: 5px 10px;
    border: 1px solid grey;
    outline: none;
    border-radius: 10px;
    background: #fff;
}

#searchBtn,
#generalSearchBtn {
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

#load-song:hover {
    background: #b4160d;
}
#showSongsBtn {
    cursor: pointer;
}

#play-list-container {
    display: inline;
    position: relative;
}
#play-list-container #generatePlaylist {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    /* width: 200px; */
    border: 2px solid #aaa;
    border-radius: 5px;
}

#generatePlaylist .song-list-btn {
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 5px 10px;
    text-align: left;
    white-space: nowrap;
}

#generatePlaylist .song-list-btn:hover {
    background-color: #aaa;
}

#channelListBtn {
    cursor: pointer;
    font-size: 25px;
}

iframe {
    flex-grow: 1;
    width: 100%;
    height: 500px;
    border: none;
}

#openYoutubePlayer.floating-window.minimized .content {
    display: none;
}

#storedSongsList {
    position: fixed;
    display: none;
    background: #f0f1db;
    top: 50px;
    left: 35vw;
    padding: 0;
    border-radius: 10px;
}

#storedSongsList .list-minimize-btn {
    margin-left: auto;
}

.song-display {
    max-height: 800px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: both;
}

.id-btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    color: #0844eb;
    padding: 3px;
    border: 1px solid rgb(2, 86, 119);
    margin-right: 3px;
    border-radius: 3px;
}

#storedSongsList.minimized .song-display {
    display: none;
}

/** load script**/
.image-window {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 1000px;
    height: 800px;
    background: #000;
    color: white;
    border: 2px solid #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    resize: both;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 25000;
}

.image-window .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window-header {
    padding: 8px 12px;
    background: #222;
    cursor: move;
    font-weight: bold;
    flex-shrink: 0;
}

.img-title-bar {
    display: flex;
    gap: 15px;
    margin-right: 15px;
}

.image-content {
    flex: 1;
    overflow-y: auto;
}

.image-content img {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}

.ctrl {
    cursor: pointer;
}

.image-window.minimized .image-content {
    display: none;
}

.image-window.minimized {
    height: auto;
    width: fit-content;
}

.image-window.maximized {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 9999;
    resize: none;
}

.image-window.maximized .image-content {
    height: calc(100vh - 30px); /* Adjust for title bar height */
    overflow: auto;
}

.image-window.maximized img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#searchWindow {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

/** player title */
.data-tooltip {
    position: relative;
}
.data-tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -55px;
    left: 0;
    background: #fdf3f1;
    color: #183674;
    border: 3px solid #f08b6d;
    padding: 6px 8px;
    border-radius: 4px;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 18px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    white-space: nowrap;
    z-index: 25500;
}

.data-tooltip:hover::after {
    opacity: 1;
}
